{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load utils %}
{% load widget_tweaks %}
{% load l10n %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Bills/Receipts Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box">
							<h3>Bills-Receipt Dashboard</h3>
							Bills and receipts dashboard for the bookings currently active
						</div>
					</div>
				</div>

				<h4 class="box"><span class = "text-primary"><strong>Total Occupancy: {{percent}}%</strong></span></h4>
				<div class = "box">
					<div id = "barchart">
					</div>
				</div>
				<div class = "box">
					<div class = "row">
						<table class = "table table-bordered">
							<tbody>
								<tr>
									<td style = "text-align:right">Advance: {{total_advance|localize|default_if_none:'-'}}</td>
									<td style = "text-align:right">Unpaid Bills amt: {{total_unpaid_bills|localize|default_if_none:'-'}}</td>
									<td style = "text-align:right">Total Bill Amt: {{total_bills|localize|default_if_none:'-'}}</td>
									<td style = "text-align:right">Total Receipt Amt: {{total_rcts|localize|default_if_none:'-'}}</td>
									<td style = "text-align:right">Outstanding Amt: {{outstanding|localize|default_if_none:'-'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
						

				<div class = " box mb-3">
					<div class = "text-primary"><h4>All Details <i class = "fa fa-chevron-right"></i></h4></div>
				</div>
				<p class="text-muted">{% if result_set|length > 0 %} {{ result_set|length }} bookings found {% else %} No bookings found{% endif %}</p>
						
				<div class="table table-responsive">
					<table id = "bookingsTbl" class="table table-responsive">
						<thead>
							<tr>
								<th width="20%">Booking No.</th>
								<th width="30%">Name</th>
								<th width="10%">Advance</th>
								<th width="10%">Unpaid Bill Amt</th>
								<th width="10%">Total Bill Amt</th>
								<th width="10%">Total Rct Amt</th>
								<th width="10%">Outstanding</th>											
							</tr>
						</thead>
						<tbody>
							{% for i in result_set %}
							<tr>
								<td><a href="{% url 'guest_account_report' i.booking_number %}" >{{i.booking_number}}</a></td>
								<td>{{i.guest_name}}</td>
								<td style = "text-align:right">{{i.advance|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{i.unpaid_bill_amt|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{i.total_bills|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{i.total_receipts|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{i.outstanding|default_if_none:'-'}}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan = "5" ><strong>No Bookings Found!</strong></td>
							</tr>
							{% endfor bookings %}										
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td style = "text-align:right">{{total_advance|localize|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{total_unpaid_bills|localize|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{total_bills|localize|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{total_rcts|localize|default_if_none:'-'}}</td>
								<td style = "text-align:right">{{outstanding|localize|default_if_none:'-'}}</td>
							</tr>
						</tfoot>
					</table>
				</div>

			</div>
		</div>	
	</div>

	{% endblock sitecontent %}


	{% block jscripts %}
	<script>	
    google.charts.load("current", {packages:["corechart"]});
    
    google.charts.setOnLoadCallback(drawChart);
	
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Total", "Amount", { role: "style" } ],
            ["Bill Amount", {{total_bills}}, "#b87333"],
            ["Receipt Amount", {{total_rcts}}, "green"],
            ["Advance Amount", {{total_advance}}, "grey"],
        ]);  

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

        var options = {
            title: "Bill & Receipts",
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
            is3D: true,
            animation: {"startup": true}
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart"));
        chart.draw(view, options);
	}
        	
    </script>	
	
	
	
	<script>
    $(document).ready(function() {
      
        table2 = $('#bookingsTbl').DataTable( {
        retrieve: true,
        paging: true,
        //dom: 'lBfrtip',
        dom: '<"top"f>Brt<"bottom"ilp><"clear">',
        buttons: [
           'copy', 
            {
                extend: 'excel',
                messageTop: 'SAM Athiti Pavathi',
                title : "Bill/Receipts Report"
            },
            
            {
                extend: 'pdf',
                messageTop: 'SAM Athiti Pavathi',
                title : "Bill/Receipts Report"
            },
            {
                extend: 'print',
                messageTop: 'SAM Athiti Pavathi',
                title : "Bill/Receipts Report"
			}
        ]
        
        } );
    } );    
    </script>	
	{% endblock jscripts %}