{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Booking</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class="col-lg-3">
						<!--
						*** MENUS AND FILTERS ***
						_________________________________________________________
						-->
						<div class="card sidebar-menu mb-4">
							<div class="card-header">
								<h3 class="h4 card-title">Booking</h3>
							</div>
							<div class="card-body">
								<ul class="nav nav-pills flex-column category-menu">
									<li><a href="category.html" class="nav-link">New</a>
									</li>
									<li><a href="category.html" class="nav-link active">Edit Existing Booking</a>
									</li>
									<li><a href="category.html" class="nav-link">Print</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="card sidebar-menu mb-4">
							<div class="card-header">
								<h3 class="h4 card-title">Room Availability <a href="#" class="btn btn-sm btn-danger pull-right"></a></h3>
							</div>
						</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<div class="checkbox">
									<label>
										<input type="checkbox"><span class="colour white"></span> Single (14)
									</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"><span class="colour blue"></span> Two-Bed (10)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"><span class="colour green"></span>  Three-Bed (20)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"><span class="colour yellow"></span>  Four-Bed (13)
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="box">
							<h1>New Booking</h1>
							<p>Record candidate details and confirm booking.</p>
						</div>
						<div class="box info-bar">
							<form class="form-horizontal" action="">
								<div class = "row">
									<h4>Registration Number:</h4>
									<div class = "col-sm-4">
										<span class="form-control" id="reg">XXXXXXXX</span>
									</div>
								</div>
								<hr>
								<div class="col-md-12">

									<form method="post">
										{% csrf_token %}

										{% for hidden in form.hidden_fields %}
										  {{ hidden }}
										{% endfor %}

										{% for field in form.visible_fields %}
										  <div class="form-group">
											<label for="{{ field.id_for_label }}">{{ field.label }}</label>
											{{ field|add_class:'form-control' }}
											{% for error in field.errors %}
											  <span class="help-block">{{ error }}</span>
											{% endfor %}
										  </div>
										{% endfor %}

										<div class="form-group">
										  <button type="submit" class="btn btn-success">
											<span class="glyphicon glyphicon-ok"></span> Save
										  </button>
										  <a href="{% url 'index' %}" class="btn btn-default">Cancel</a>
										</div>
									</form>
								
								</div>	

								<hr>
								<div class = "text-center">
									<button class = "btn-primary " type="submit" class="btn btn-default">Register</button>
								</div>
								
							</form>				  

						</div>
					</div>
					<!-- END`: Col-9 -->
				</div>
			</div>
        </div>
    </div>
	
		
	{% endblock sitecontent %}

	
	
	{% block jscripts %}
	{% endblock jscripts %}