{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Change Room, Bed</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box">
							<h3>Change Room, Bed Allocation</h3>

						</div>
					</div>			
				</div>
				{% if room_allocation %}
				<div class = "row">
					<div class = "col-sm-4">
						<h4>Guest Details</h4>
						<div class="box info-bar">
							{% if room_allocation.guest.guest_photo %}
							<img id = "modal-photo" class="card-img-top img-display" src="{{ room_allocation.guest.guest_photo.url }}" alt="Photo" style="width:100%">
							{% endif %}
							<h4 id = "modal-name" class="card-title text-center">{{room_allocation.guest.first_name}} {{room_allocation.guest.middle_name}} {{room_allocation.guest.last_name}}</h4>
							<div class="card-text">
								{{room_allocation.guest.current_address_1}} {{room_allocation.guest.current_address_2}}<br />
								{{room_allocation.guest.current_city}} {{room_allocation.guest.current_state}} {{room_allocation.guest.current_pin_code|default:''}}<br />
								{{room_allocation.guest.email_id}} <br />
								{{room_allocation.guest.phone_number}}
							</div>
						</div>
					</div>
					<div class = "col-sm-8">
						<h4>Booking Number : {{room_allocation.booking_id}}</h4>
						
						{% if msg %}
							<div id="errors" class="alert alert-warning alert-dismissable">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<div class="inner">
									<ul>
										<!-- Forms -->
										<li>{{msg}}</li>
										
									</ul>
								</div>
							</div>
						{% endif %}
						
						<div class = "box info-bar">
							<div class = "row">
								<div class = "col-sm-6">
									<div class="form-group">
										Block
										<input disabled class = "form-control" 
											value = "{{room_allocation.block.block_name}}" />
									</div>
								</div>
								<div class = "col-sm-6">
									<div class="form-group">
										Floor
										<input disabled class = "form-control" 
											value = "{{room_allocation.floor.floor_name}}" />
									</div>
								</div>
								<div class = "col-sm-6">
									<div class="form-group">
										Room
										<input disabled class = "form-control" 
											value = "{{room_allocation.room.room_name}}" />
									</div>
								</div>
								<div class = "col-sm-6">
									<div class="form-group">
										Bed
										<input disabled class = "form-control" 
											value = "{{room_allocation.bed.bed_name}}" />
									</div>
								</div>													
							</div>
							<div class = "row ">
								<div class = "col-sm-3">
									<div class="form-group">
										Check-in Date
										<input disabled class = "form-control" 
											value = "{{room_allocation.allocation_start_date|date:'d-m-Y'}}" />
									</div>
								</div>
								<div class = "col-sm-3">
									<div class="form-group">
										Check-in Time
										<input disabled class = "form-control" 
											value = "{{room_allocation.booking.check_in_time|time:'H:i'}}" />
									</div>
								</div>
								<div class = "col-sm-3">
									<div class="form-group">
										Check-out Date
										<input disabled class = "form-control" 
											value = "{{room_allocation.allocation_end_date|date:'d-m-Y'}}" />
									</div>
								</div>
								<div class = "col-sm-3">
									<div class="form-group">
										Check-out Time
										<input disabled class = "form-control" 
											value = "{{room_allocation.booking.check_out_time|time:'H:i'}}" />
									</div>
								</div>
							</div>
						</div>
						<div class = "row ">
							<div class = "col-sm-12">
								<h4>Allocate Another Room/Bed:</h4>
							</div>
						</div>
						<form id = "alloc_form" method = "POST" action = "{% url 'change_room_bed' %}">
							{% csrf_token %}
							<input hidden name = "booking_number" value = "{{room_allocation.booking_id}}">
							<div class = "box info-bar">
								<div class = "row">
									<div class = "col-sm-3">
										<div class="form-group">
											Check-in Date
											<input id="check_in_date" name="check_in_date" 
											class = "form-control" type = "date" 
											onchange = "get_blocks(this.value);"
											value = "{{room_allocation.allocation_start_date|date:'Y-m-d'}}" />
										</div>
									</div>
									<div class = "col-sm-3">
										<div class="form-group">
											Check-in Time
											<input id="check_in_time" name="check_in_time" 
											class = "form-control clockpicker" type = "time" 
											value = "{{room_allocation.booking.check_in_time|time:'H:i'}}" />
										</div>
									</div>
									<div class = "col-sm-3">
										<div class="form-group">
											Check-out Date
											<input id="check_out_date" name="check_out_date" 
											class = "form-control" type = "date" 
											value = "{{room_allocation.allocation_end_date|date:'Y-m-d'}}" />
										</div>
									</div>
									<div class = "col-sm-3">
										<div class="form-group">
											Check-out Time
											<input id="check_out_time" name="check_out_time" 
											class = "form-control clockpicker" type = "time" 
											value = "{{room_allocation.booking.check_out_time|time:'H:i'}}" />
										</div>
									</div>
								</div>
								<div class = "row">
									<div class = "col-sm-6">
										<div class="form-group">
											Block
											<div id = "blocks-div">
												<select onchange= 'get_floors(this.value);' id='block' 
														name ='block' class='form-control' >
													<option></option>
												</select>
											</div>													
										</div>															
									</div>
									<div class = "col-sm-6">

										<div class="form-group">
											Floor
											<div id = "floors-div">
												<select onchange= 'get_rooms(this.value);' id='floor' 
														name ='floor' class='form-control' >
													<option></option>
												</select>

											</div>
										</div>														
									</div>
									<div class = "col-sm-6">

										<div class="form-group">
											Room
											<div id = "rooms-div">
												<select onchange= 'get_beds(this.value);' id='room' 
														name ='room' class='form-control' >
													<option></option>
												</select>
											</div>
										</div>														
									</div>
									<div class = "col-sm-6">
										<div class="form-group">
											Bed
											<div id = "beds-div">
												<select id='bed' name ='bed' class='form-control' >
													<option></option>
												</select>
											</div>
										</div>														
									</div>											
									
								</div>
								<div class = "row">
									<div class = "col-sm-12">
										<div class = "text-center">
											<button class="btn btn-primary text-center" type="submit">
												<i class="fa fa-bed fa-lg"></i> Confirm Re-allocation
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% endif %}
				<!-- END`: Col-12 -->					
			</div>
        </div>
    </div>

	{% include 'guesthouse/message-modal_ok.html' %}
	{% endblock sitecontent %}


	{% block jscripts %}
	<script>
		$( document ).ready(function() {
			// Initiate clock picker on start and end time.
			$('.clockpicker').clockpicker({
			   autoclose:"true",
				placement:"bottom"            
			});	

			if ($("#check_in_date").val() != 'undefined') {
				get_blocks($("#check_in_date").val());
			}
		});
	</script>

	<script>
		function get_blocks(check_in_date) {
		
			if ( check_in_date != '' ){
				$.ajax({
					url: '{% url "get_block_availablity" %}', 
					data: {'check_in_date': check_in_date},
					dataType: 'text', 
					type: 'POST',
					success: function (data) {
						elements = JSON.parse(data);
						blocks = elements.blocks;
						var txt = "<select onchange= 'get_floors(this.value);' id='block' name ='block' class='form-control' >";
						for (i = 0; i < blocks.length; i++) {
							txt += "<option value = '" + blocks[i].block_id + "'>" + blocks[i].block__block_name + "</option>";
						};
						txt += "<option selected value = ''>" + "" + "</option>";
						txt += "</select>"; 
						$("#blocks-div").html(txt);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
						return;
					}					
				});
			}
		}
		
		
		function get_floors(block_id) {
			check_in_date = $("#check_in_date").val();
			
			if ( check_in_date != '' ){
				$.ajax({
					url: '{% url "get_floor_availablity" %}', 
					data: {'check_in_date': check_in_date, 'block_id':block_id},
					dataType: 'text', 
					type: 'POST',
					success: function (data) {
						elements = JSON.parse(data);
						floors = elements.floors;
						var txt = "<select onchange= 'get_rooms(this.value);' id='floor' name ='floor' class='form-control' >";
						for (i = 0; i < floors.length; i++) {
							txt += "<option value = '" + floors[i].floor_id + "'>" + floors[i].floor__floor_name + "</option>";
						};
						txt += "<option selected value = ''>" + "" + "</option>";
						txt += "</select>"; 
						$("#floors-div").html(txt);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
						return;
					}					
				});
			}
		}		
		
		function get_rooms(floor_id) {
			check_in_date = $("#check_in_date").val();
			
			if ( check_in_date != '' ){
				$.ajax({
					url: '{% url "get_room_availablity" %}', 
					data: {'check_in_date': check_in_date, 'floor_id':floor_id},
					dataType: 'text', 
					type: 'POST',
					success: function (data) {
						elements = JSON.parse(data);
						rooms = elements.rooms;
						var txt = "<select onchange= 'get_beds(this.value);' id='room' name ='room' class='form-control' >";
						for (i = 0; i < rooms.length; i++) {
							txt += "<option value = '" + rooms[i].room_id + "'>" + rooms[i].room__room_name + "</option>";
						};
						txt += "<option selected value = ''>" + "" + "</option>";
						txt += "</select>"; 
						$("#rooms-div").html(txt);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
						return;
					}					
				});
			}
		}				


		function get_beds(room_id) {
			check_in_date = $("#check_in_date").val();
			
			if ( check_in_date != '' ){
				$.ajax({
					url: '{% url "get_bed_availablity" %}', 
					data: {'check_in_date': check_in_date, 'room_id':room_id},
					dataType: 'text', 
					type: 'POST',
					success: function (data) {
						elements = JSON.parse(data);
						beds = elements.beds;
						var txt = "<select id='bed' name ='bed' class='form-control' >";
						for (i = 0; i < beds.length; i++) {
							txt += "<option value = '" + beds[i].bed_id + "'>" + beds[i].bed_name + "</option>";
						};
						txt += "<option selected value = ''>" + "" + "</option>";
						txt += "</select>"; 
						$("#beds-div").html(txt);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
						return;
					}					
				});
			}
		}				
	</script>
	{% endblock jscripts %}