<!-- Message Modal -->
<div id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="Delete Message" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Review Booking Details</h5>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div >
					<div class = "mb-4">
						<div class = "col-sm-12">
							<h4>Booking Number: {% if booking %} {{booking.booking_number}} {% else %} Booking does not exist!!{% endif %}</h4>
						</div>
					</div>
					{% if booking %}
					<div class="container">
						<div class = "row">
							<div class = "col-sm-6">
								<div class="card">
									<div class = "row">
										{% if booking.guest.guest_photo %}
										<div class = "col-sm-4">
											<br />
											<img id = "modal-photo" class="card-img-top img-display" src="{{ booking.guest.guest_photo.url }}" alt="Photo" style="width:100%">
										</div>
										<div class = "col-sm-8">
										{% else %}
											<div class = "col-sm-12">
											{% endif %}
											<div class="card-body">
												  <h4 id = "modal-name" class="card-title">{{booking.guest.first_name}} {{booking.guest.middle_name}} {{booking.guest.last_name}}</h4>
												  <div class="card-text">
													{{booking.guest.current_address_1}} {{booking.guest.current_address_2}}<br />
													{{booking.guest.current_city}} {{booking.guest.current_state}} {{booking.guest.current_pin_code|default:''}}<br />
													{{booking.guest.email_id}} <br />
													{{booking.guest.phone_number}} <br />
												  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class = "col-sm-6">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Booking Details</h4>
										<div class="card-text">
											Booking Date : {{booking.created_date}} <br />
											Tenure : {% if booking.tenure == 'LT' %} Long Term {% elif booking.tenure == 'ST'%} Short Term {% endif %}<br />
											Check-in/out: {{booking.check_in_date | date:"d-M-Y"}}  / {{booking.check_out_date | date:"d-M-Y"}}<br />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<br />
					<div class = "pull-left">
						<button class="btn btn-primary pull-left" 
							onclick="delete_blocking('{{ booking.booking_number }}');">
							<i class="fa fa-trash-o"></i> Delete
						</button>
					</div>
					<div class = "pull-right">
						<button class="btn btn-primary pull-right" 
							onclick="$('#delete-modal').modal('hide');">
							<i class="fa fa-close"></i>Cancel
						</button>
					</div>	
					{% endif %}
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END: Message modal -->		