    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
					<p><strong>SAM Atithi Pavathi</strong><br />#4140, 11th Cross, 2nd Main, 80 Feet Main Road<br />Girinagar 4th Phase, Near Sita Circle<br />Bengaluru<br><strong>Karnataka 560 050</strong></p>
            </ul>
          </div>
          <!-- /.col-lg-3-->

          <div class="col-sm-6">
			  <div class = "pull-right">
					<p>
						<i class = "fa fa-phone"> 080 – 26699988, 26699977, 26917009</i><br/>
						<i class = "fa fa-mobile"> 7829572250, 9742655138, 9742615372, 8970550327</i><br />
						<i class = "fa fa-fax"> 080 – 26698855</i><br />
						<i class = "fa fa-envelope"> info@samatithipavathi.com</i><br />
					</p>
				</div>
		  </div>
          <!-- /.col-lg-3-->

        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>