									<p> <strong>Search By Name</strong> </p>
									<div class = "row">
										<div class = "col-sm-4 col-lg-3">
											<div class="form-group">
												<label>First:</label>
												<input name = "first_name" id = "first_name" 
													class = "form-control" type="text" />
											</div>
										</div>
										<div class = "col-sm-4 col-lg-3">
											<div class="form-group">
												<label>Middle:</label>
												<input name = "middle_name" id = "middle_name" 
													class = "form-control" type="text" />
											</div>
										</div>
										<div class = "col-sm-3 col-lg-3">
											<div class="form-group">
												<label>Last:</label>
												<input name = "last_name" id = "last_name" 
													class = "form-control" type="text" />
											</div>
										</div>

										<div class = "col-sm-2 col-lg-2">
											<div class="form-group">
												<label>&nbsp;</label>
												<input type="submit" id = "name-submit" 
												class = "btn btn-primary"
												onclick = "get_bookings('1');">
											</div>										
										</div>
									</div>
