							<p><strong> Search By Date Range</strong> </p>
							<div class = "row">
								<div class = "col-sm-5 col-lg-3">
									<div class="form-group">
										<label>From:</label>
										<input name = "fromdate" id = "fromdate" 
											class = "form-control" type="date" />
									</div>
								</div>
								<div class = "col-sm-5 col-lg-3">
									<div class="form-group">
										<label>To:</label>
										<input name = "todate" id = "todate" 
											class = "form-control" type="date" />
									</div>
								</div>
								<div class = "col-sm-2 col-lg-2">
									<div class="form-group">
										<label>&nbsp;</label>
										<input type="submit" class = "btn btn-primary">
									</div>
								</div>
							</div>
							