{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Manage Booking</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box">
							<h3>Edit/Delete Booking</h3>
							<p>Search bookings and edit or delete a booking.</p>
						</div>
					</div>				
					<div class="col-lg-3">
						<!--
						*** MENUS ***
						_________________________________________________________
						-->
						<div id = "tab_navigation" class="collapse show navbar-collapse">
							<div class="card sidebar-menu mb-4">
								<div class="card-header">
									<h3 class="h4 card-title">Search Booking By</h3>
								</div>
								<div class="card-body">
								
									<div class="container">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#date_search" role="tab" aria-controls="Name, Address & Contact">Date Range</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#name_search" role="tab" aria-controls="Personal Details">Guest Name</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#allocation_search" role="tab" aria-controls="Medical Details">Bookings without Room Allocation</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#email_phone_search" role="tab" aria-controls="Parents/Guardians">Email/Phone Number</a>
											</li>
										</ul>								
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End col-3 -->				
					<div class = "col-lg-9">
						<div class="box info-bar">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="date_search" role="tabpanel">
									<div class="col-md-12">
										{% include 'guesthouse/manage_booking_by_date.html' %}
									</div>
								</div>
								<div class="tab-pane fade show " id="name_search" role="tabpanel">
									<div class="col-md-12">
										{% include 'guesthouse/manage_booking_by_name.html' %}
									</div>
								</div>
								<div class="tab-pane fade show " id="allocation_search" role="tabpanel">
									<div class="col-md-12">
										{% include 'guesthouse/manage_booking_by_allocation.html' %}
									</div>
								</div>
								<div class="tab-pane fade show " id="email_phone_search" role="tabpanel">
									<div class="col-md-12">
										{% include 'guesthouse/manage_booking_by_email_phone.html' %}
									</div>
								</div>
							</div>
							<!-- end tab-->
						</div>
						<div class="box info-bar">
							<div id = "bookings_table">
								{% include 'guesthouse/bookings_table.html' %}
							</div>
						</div>						
					</div>
					<!-- END`: Col-9 -->					
				</div>
			</div>
        </div>
    </div>
	{% include 'guesthouse/message-modal_ok.html' %}
		
	{% endblock sitecontent %}


	{% block jscripts %}
	<script>
		$( document ).ready(function() {
			var today = new Date();

			var from_dt = new Date();
			from_dt.setDate( from_dt.getDate() - 7) 
			var fm_dt = from_dt.getDate();
			var fm_mn = from_dt.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = from_dt.getFullYear();			
			document.getElementById("fromdate").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );
			document.getElementById("alloc_fromdate").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );

			var to_dt = today.getDate();
			var to_mn = today.getMonth();
			var to_mn = fm_mn; //Javascript month start from 0
			var to_yy = today.getFullYear();			
			
			document.getElementById("todate").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );
			document.getElementById("alloc_todate").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );
		
		});
	
		function date_query(){
			//Get the from, to dates
			var fm_d = new Date(document.getElementById("fromdate").value);
			if (fm_d > new Date()) {
				$("#msg").html("From Date can't be greatrer than today");
				$("#msg-modal").modal("show");
				return;
			}
			var fm_dt = fm_d.getDate();
			var fm_mn = fm_d.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = fm_d.getFullYear();			
			var from_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			  
			var to_d = new Date(document.getElementById("todate").value);
			var to_dt = to_d.getDate();
			var to_mn = to_d.getMonth();
			var to_mn = to_mn + 1; //Javascript month start from 0
			var to_yy = to_d.getFullYear();			
			var to_date = to_yy + "-" + to_mn + "-" + to_dt;
			
			if ( to_d < fm_d ) {
				$("#msg").html("To Date can't be earlier than From Date");
				$("#msg-modal").modal("show");
				return;
			}
			
			// Let's update the cart view
			$.ajax({
				url: '{% url "get_bookings" %}', 
				dataType: 'text',
				data: {'fromdate':from_date, 'todate':to_date},
				type: 'POST',
				success: function (data) {
					$("#bookings_table").html(data);
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});				
			
		}

		
		function alloc_query(){
			//Get the from, to dates
			var fm_d = new Date(document.getElementById("alloc_fromdate").value);
			
			if (fm_d > new Date()) {
				$("#msg").html("From Date can't be greatrer than today");
				$("#msg-modal").modal("show");
				return;
			}
				
			var fm_dt = fm_d.getDate();
			var fm_mn = fm_d.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = fm_d.getFullYear();			
			var from_date = new Date( fm_yy, fm_mn, fm_dt );
			  
			var to_d = new Date(document.getElementById("alloc_todate").value);
			var to_dt = to_d.getDate();
			var to_mn = to_d.getMonth();
			var to_mn = to_mn + 1; //Javascript month start from 0
			var to_yy = to_d.getFullYear();			
			var to_date = new Date(parseInt(fm_yy), parseInt(fm_mn), parseInt(fm_dt));
			
			if ( to_d < fm_d ) {
				$("#msg").html("To Date can't be earlier than From Date");
				$("#msg-modal").modal("show");
				return;
			}
		}		
		
		
		function zeroPad(val){
			if(val < 10){
				ret = "0" + String(val);
			} else {
				ret = String(val);
			}
			return ret;
		}
	</script>
	{% endblock jscripts %}