
							<h2>Due Bills for {{month}}</h2>
							<p class="text-muted">{% if count > 0 %} {{ count }} bills found {% else %} 0 bills found{% endif %}</p>
							<div class="table table-responsive">
								<table id = "billsTbl" class="table table-responsive">
									<thead>
										<tr>
											<th width="10%">Booking No.</th>
											<th width="20%">Name</th>
											<th width="20%">Room/Bed</th>
											<th width="20%">Contact</th>
											<th width="10%">Bill No.</th>
											<th width="10%">Bill For</th>
											<th width="10%">Amount</th>
										</tr>
									</thead>
									<tbody>
										{% for i in bills %}
										<tr>
											<td>{{i.booking_id}}</td>
											<td>{{i.first_name}} {{i.middle_name}} {{i.last_name}}</td>
											<td>{{i.room}}</td>
											<td><small>
												{% if i.phone_number %} Ph: {{i.phone_number}} {% endif %}
												{% if i.email_id %}<br /> Email:{{i.email_id}} {% endif %}
												</small>
											</td>
											<td>{{i.bill_number}}<br/><small> {{i.bill_date|date:'d-m-Y'}}</small></td>
											<td>{{i.get_bill_for_display}}</td>
											<td style="text-align:right">{{i.amount|floatformat}}</td>
										</tr>
										{% empty %}
										<tr>
											<td colspan = "6" ><strong>No Bills Found!</strong></td>
										</tr>
										{% endfor receipts %}
										
									</tbody>
								</table>
							</div>
