{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Booking</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box">
							<h3>New Booking</h3>
							<p>Record candidate details, allocate room/bed and confirm booking.</p>
						</div>
					</div>
				
					<div class="col-lg-3">
						<!--
						*** MENUS ***
						_________________________________________________________
						-->
						<div id = "tab_navigation" class="collapse show navbar-collapse">
							<div class="card sidebar-menu mb-4">
								<div class="card-header">
									<h3 class="h4 card-title">Select a Tab to Enter Data</h3>
								</div>
								<div class="card-body">
								
									<div class="container">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#name_addr" role="tab" aria-controls="Name, Address & Contact">Name & Contact</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#personal" role="tab" aria-controls="Personal Details">Personal Details</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#health" role="tab" aria-controls="Medical Details">Health Details</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#parents" role="tab" aria-controls="Parents/Guardians">Parents/Guardians</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#photo" role="tab" aria-controls="Upload Photo">Upload Photo</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#allocation" role="tab" aria-controls="Room Allocation">Room Allocation</a>
											</li>
										</ul>								
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End col-3 -->
					
					<div class="col-lg-9">
						<div class="box info-bar">
							<form method = "post" class="form-horizontal" enctype='multipart/form-data'>
								{% csrf_token %}
								<h4>
									<div class="form-group">
										<div class = "row" style = "padding:20px 20px 0px;">
											<div class = "col-sm-6">
												<label>Booking Number : 
													{% render_field booking_form.booking_number|append_attr:"readonly:readonly" type="text" class="form-control"%}
													{% render_field booking_form.guest|append_attr:"hidden:hidden" type="text" class="form-control"%}
													{% render_field booking_form.guesthouse|append_attr:"hidden:hidden" type="text" class="form-control"%}
													{% render_field guest_form.guest_id|append_attr:"hidden:hidden" type="text" class="form-control"%}
													{% render_field guest_form.current_country|append_attr:"hidden:hidden" class="form-control"%}
													{% render_field guest_form.permanent_country|append_attr:"hidden:hidden" class="form-control"%}
													{% render_field guest_form.company_country|append_attr:"hidden:hidden" class="form-control"%}
													{% render_field room_allocation_form.alloc_id|append_attr:"hidden:hidden" type="text" class="form-control"%}
													{% render_field room_allocation_form.booking|append_attr:"hidden:hidden" type="text" class="form-control"%}
													{% render_field room_allocation_form.guest|append_attr:"hidden:hidden" type="text" class="form-control"%}												</label>
											</div>
											<div class = "col-sm-2">

											</div>
											<div class = "col-sm-4">
												<img class="img-thumbnail img-display pull-right" src="{{guest.guest_photo.url}}" alt="Photo">

											</div>
										</div>
									</div>
								</h4>
								<hr>
								<div class="tab-content">

										{% if guest_form.errors or booking_form.errors or room_alloaction_form.errors or validation_msg%}
										<div id="errors" class="alert alert-warning alert-dismissable">
											<button type="button" class="close" data-dismiss="alert">&times;</button>
											<div class="inner">
												{% if guest_form.errors or booking_form.errors or room_alloaction_form.errors %}
													<p>There were issues in the information you entered. Please correct following:</p>
												{% endif %}
												<!-- Error messaging -->
												{{ guest_form.non_field_errors }}
												{{ booking_form.non_field_errors }}
												{{ room_allocation_form.non_field_errors }}
												<ul>
													<!-- Forms -->
													{% for field in guest_form %}
														{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
													{% endfor %}
													{% for field in booking_form %}
														{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
													{% endfor %}
													{% for field in room_allocation_form %}
														{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
													{% endfor %}

													<!-- Validations -->
													{% for v in validation_msg %}
														<li>{{v}}</li>
													{% endfor %}
													
												</ul>
											</div>
										</div>
										{% endif %} 
										<!-- /Error messaging -->
								
								
										<div class="tab-pane fade show active" id="name_addr" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_name_address_contact.html' %}
											</div>
											<!-- end tab name,addr Col-12-->
										</div>
										<!-- end tab Name, Addr-->
										
										<div class="tab-pane" id="personal" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_personal_details.html'  %}
											</div>
										</div>
										<!-- end tab Personal-->
										
										<div class="tab-pane" id="health" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_health_details.html'  %}
											</div>
										</div>
										<!-- end tab health-->

										<div class="tab-pane" id="parents" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_parents_guardians.html'  %}
											</div>
											<!-- end tab parents Col-12-->
										</div>
										<!-- end tab parents-->
										
										<div class="tab-pane" id="photo" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_upload_photo.html'  %}
											</div>
											<!-- end tab parents Col-12-->
										</div>
										<!-- end tab parents-->

										<div class="tab-pane" id="allocation" role="tabpanel">
											<div class="col-md-12">
												{% include 'guesthouse/guest_room_allocation.html'  %}
											</div>
										</div>
										<hr>
										<div class = "text-center">
											<button class = "btn btn-primary " type="submit">Save</button>
										</div>
										
								</div>
							</form>				  
						</div>
					</div>
					<!-- END`: Col-9 -->
				</div>
			</div>
        </div>
    </div>
	
		
	{% endblock sitecontent %}


	{% block jscripts %}
	
	<script>
		var pin_code_arr = [];
		var city_arr = [];
		var cstate_arr = [];
		var country_arr = [];
		
		function getCities(ipin_code, source) {
		
			$.ajax({
				url: '{% url "get_addr_pin_city_state" %}', 
				data: { 'pin_code':ipin_code},
				dataType: 'text', 
				type: 'POST',
				success: function (data) {
					data = JSON.parse(data);
					pin_code = data.pin_code;
					city = data.city;
					cstate = data.cstate;
					country = data.country;

					pin_code_arr = [];
					city_arr = [];
					cstate_arr = [];
					country_arr = [];

					pp = Object.keys(pin_code).map(function(key) {
					  return pin_code_arr.push(pin_code[key].pin_code);
					});
					
					cc = Object.keys(city).map(function(key) {
					  return city_arr.push(city[key].city);
					});
					
					ss = Object.keys(cstate).map(function(key) {
					  return cstate_arr.push(cstate[key].state);
					});

					cn = Object.keys(country).map(function(key) {
					  return country_arr.push(country[key].country__country_name);
					});

					
					if (source == 'CURR_ADDR') {

						curr_city = document.getElementById("id_guest-current_city").value;
						if (curr_city == '' || curr_city == null){
							document.getElementById("id_guest-current_city").value = city_arr[0];
						} else {
							if (city_arr.indexOf(curr_city) == -1 ){
								document.getElementById("id_guest-current_city").value = city_arr[0];
							}
						}
						curr_state = document.getElementById("id_guest-current_state").value;
						if (curr_state == '' || curr_state == null){
							document.getElementById("id_guest-current_state").value = cstate_arr[0];
						} else {
							if (cstate_arr.indexOf(curr_state) == -1 ){
								document.getElementById("id_guest-current_state").value = cstate_arr[0];
							}
						}
					}
					if (source == 'PERM_ADDR') {

						perm_city = document.getElementById("id_guest-permanent_city").value;
						if (perm_city == '' || perm_city == null){
							document.getElementById("id_guest-permanent_city").value = city_arr[0];
						} else {
							if (city_arr.indexOf(perm_city) == -1 ){
								document.getElementById("id_guest-permanent_city").value = city_arr[0];
							}
						}
						perm_state = document.getElementById("id_guest-permanent_state").value;
						if (perm_state == '' || perm_state == null){
							document.getElementById("id_guest-permanent_state").value = cstate_arr[0];
						} else {
							if (cstate_arr.indexOf(perm_state) == -1 ){
								document.getElementById("id_guest-permanent_state").value = cstate_arr[0];
							}
						}

					}
					
					if (source == 'COMP') {

						perm_city = document.getElementById("id_guest-company_city").value;
						if (perm_city == '' || perm_city == null){
							document.getElementById("id_guest-company_city").value = city_arr[0];
						} else {
							if (city_arr.indexOf(perm_city) == -1 ){
								document.getElementById("id_guest-company_city").value = city_arr[0];
							}
						}
						perm_state = document.getElementById("id_guest-company_state").value;
						if (perm_state == '' || perm_state == null){
							document.getElementById("id_guest-company_state").value = cstate_arr[0];
						} else {
							if (cstate_arr.indexOf(perm_state) == -1 ){
								document.getElementById("id_guest-company_state").value = cstate_arr[0];
							}
						}

					}


				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});							
		}
		

		// Copying addr from current to parmement
		function same_addr_check(){
			
			if (document.getElementById("same_addr").checked) {
				//document.getElementById("prem_addr_sec").style.display = "none";
				// Copy data over to permanenet address
				$("#id_guest-permanent_address_1").val( $("#id_guest-current_address_1").val() );
				$("#id_guest-permanent_address_2").val( $("#id_guest-current_address_2").val() );
				$("#id_guest-permanent_pin_code").val( $("#id_guest-current_pin_code").val() );
				$("#id_guest-permanent_city").val( $("#id_guest-current_city").val() );
				$("#id_guest-permanent_state").val( $("#id_guest-current_state").val() );
			} else {
				//document.getElementById("prem_addr_sec").style.display = "block";
				$("#id_guest-permanent_address_1").val( '' );
				$("#id_guest-permanent_address_2").val( '' );
				$("#id_guest-permanent_pin_code").val( '' );
				$("#id_guest-permanent_city").val( '' );
				$("#id_guest-permanent_state").val( '' );			}
		}
		

	
		$( document ).ready(function() {
		
			// Initiate clock picker on start and end time.
			$('.clockpicker').clockpicker({
			   autoclose:"true",
				placement:"bottom"            
			});	
		

			/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
			autocomplete(document.getElementById("id_guest-current_pin_code"), {{pin_code_arr|safe}});
			autocomplete(document.getElementById("id_guest-current_city"), {{city_arr|safe}});		

			autocomplete(document.getElementById("id_guest-permanent_pin_code"), {{pin_code_arr|safe}});	
			autocomplete(document.getElementById("id_guest-permanent_city"), {{city_arr|safe}});		

			autocomplete(document.getElementById("id_guest-company_pin_code"), {{pin_code_arr|safe}});	
			autocomplete(document.getElementById("id_guest-company_city"), {{city_arr|safe}});	

			$("#id_guest-current_pin_code").on('change', function(){
				getCities($(this).val(), "CURR_ADDR");
			});
			$("#id_guest-paremanent_pin_code").on('change', function(){
				getCities($(this).val(), "CURR_ADDR");
			});
			$("#id_guest-company_pin_code").on('change', function(){
				getCities($(this).val(), "CURR_ADDR");
			});

		});
		

		//Update the drop-downs according to the current room/bed availability
		// Blocks
		{% if blocks %}
			var txt = "<select id='id_room-block' name ='room-block' class='form-control' >";
			{% for b in blocks %}
				txt += "<option value = '{{b.block_id}}'>" + " {{b.block_name}} " + "</option>";
			{% endfor %}
			txt += "</select>"; 
			
			$("#blocks-div").html(txt);
		{% endif %}

		// Floors
		{% if floors %}
			var txt = "<select id='id_room-floor' name ='room-floor' class='form-control' >";
			{% for b in floors %}
				txt += "<option value = '{{b.floor_id}}'>" + " {{b.floor_name}} " + "</option>";
			{% endfor %}
			txt += "</select>"; 
			
			$("#floors-div").html(txt);
		{% endif %}

		// Rooms
		{% if rooms %}
			var txt = "<select id='id_room-room' name ='room-room' class='form-control' >";
			{% for b in rooms %}
				txt += "<option value = '{{b.room_id}}'>" + " {{b.room_name}} " + "</option>";
			{% endfor %}
			txt += "</select>"; 
			
			$("#rooms-div").html(txt);
		{% endif %}

		// Beds
		{% if beds %}
			txt = "<select id='id_bed-bed' name ='bed-bed' class='form-control' >";
			{% for b in beds %}
				txt += "<option value = '{{b.bed_id}}'>" + " {{b.bed_name}} " + "</option>";
			{% endfor %}
			txt += "</select>"; 
			
			$("#beds-div").html(txt);
		{% endif %}
	</script>
	
	{% endblock jscripts %}