{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'booking_details_for_payment' receipt_type %}">Booking Details for Payment</a></li>
								<li aria-current="page" class="breadcrumb-item active">Accept Payment</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box">
							<h3>Payment Receipt</h3>
						</div>
					</div>
				</div>
				<div class = "box">
					<div class = "row">
						<div class = "col-sm-3">
							<h4>Guest Details </h4>
						</div>
					</div>
					
					<div class = "row">
						<div class = "col-sm-3">
							<div class="form-group">
								Booking Number:
								<input readonly class = "form-control" value = "{{room_alloc.booking_id}}">
							</div>																							
						</div>
						<div class = "col-sm-6">
							<div class="form-group">
								Name:
								<input readonly class = "form-control" value = "{{room_alloc.guest.first_name}} {{room_alloc.guest.middle_name}} {{room_alloc.guest.last_name}}">
							</div>																							
						</div>
					</div>
					<div class = "row">
						<div class = "col-sm-3">
							<div class="form-group">
								Block:
								<input readonly class = "form-control" value = "{{room_alloc.block.block_name}}">
							</div>
						</div>
						<div class = "col-sm-3">
							<div class="form-group">
								Floor:
								<input readonly class = "form-control" value = "{{room_alloc.floor.floor_name}}">
							</div>
						</div>
						<div class = "col-sm-3">
							<div class="form-group">
								Room:
								<input readonly class = "form-control" value = "{{room_alloc.room.room_name}}">
							</div>
						</div>
						<div class = "col-sm-3">
							<div class="form-group">
								Bed:
								<input readonly class = "form-control" value = "{{room_alloc.bed.bed_name}}">
							</div>
						</div>
					</div>

					<div class = "box">
						{% if form.errors or validation_msg%}
						<div id="errors" class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<div class="inner">
								{% if form.errors or booking_form.errors or room_alloaction_form.errors %}
									<p>There were issues in the information you entered. Please correct following:</p>
								{% endif %}
								<!-- Error messaging -->
								{{ form.non_field_errors }}
								<ul>
									<!-- Forms -->
									{% for field in form %}
										{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
									{% endfor %}

									<!-- Validations -->
									{% for v in validation_msg %}
										<li>{{v}}</li>
									{% endfor %}
									
								</ul>
							</div>
						</div>
						{% endif %} 
						<form method = "post" class="form-horizontal">
							{% csrf_token %}
							{% render_field form.id|append_attr:"hidden:hidden" type="text" class="form-control"%}
							{% render_field form.guest|append_attr:"hidden:hidden" type="text" class="form-control"%}
							{% render_field form.booking|append_attr:"hidden:hidden" type="text" class="form-control"%}
							{% render_field form.created_date|append_attr:"hidden:hidden" type="text" class="form-control"%}
							<input hidden name = "alloc_id" value = "{{room_alloc.alloc_id}}"> 
							<input hidden name = "booking_number" value = "{{booking.booking_number}}"> 
							<input hidden name = "receipt_type" value = "{{receipt_type}}"> 
							<!-- /Error messaging -->

							<div class = "row">
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.receipt_number.label_tag }}
										{% render_field form.receipt_number|append_attr:"readonly:readonly" class="form-control" %}
										{% if form.receipt_number.help_text %}
											<small class="form-text text-muted">
												{{ form.receipt_number.help_text }}
											</small>
										{% endif %}
									</div>																							
								</div>
							</div>
							<div class = "row">
								<div class = "col-sm-3">
									<h4> Enter Receipt Details </h4>
								</div>
							</div>
							<div class = "row">
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.receipt_date.label_tag }}
										{% if form.is_bound %}
											{% if form.receipt_date.errors %}						
												<input name="receipt_date" class="form-control  is-invalid" id="id_receipt_date" type="date" value= "{{form.receipt_date.value|date:'Y-m-d'}}">
												{% for error in form.receipt_date.errors %}
													<div class="invalid-feedback">
													  {{ error }}
													</div>
												{% endfor %}
									
											{% else %}
												<input name="receipt_date" class="form-control  is-valid" id="id_receipt_date" type="date" value= "{{form.receipt_date.value|date:'Y-m-d'}}">
											{% endif %}
										{% else %}
											<input name="receipt_date" class="form-control" id="id_receipt_date" type="date" value= "{{form.receipt_date.value|date:'Y-m-d'}}">
										{% endif %}
									
										{% if form.receipt_date.help_text %}
											<small class="form-text text-muted">
												{{ form.receipt_date.help_text }}
											</small>
										{% endif %}
									</div>																							
								</div>
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.receipt_for.label_tag }}
										{% render_field form.receipt_for|append_attr:"readonly:readonly" class="form-control" %}
										{% if form.receipt_for.help_text %}
											<small class="form-text text-muted">
												{{ form.receipt_for.help_text }}
											</small>
										{% endif %}
									</div>																							
								</div>
								
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.receipt_for_month.label_tag }}
										{% render_field form.receipt_for_month class="form-control" %}
										{% if form.receipt_for_month.help_text %}
											<small class="form-text text-muted">
												{{ form.receipt_for_month.help_text }}
											</small>
										{% endif %}
									</div>																							
								</div>
								
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.bill.label_tag }}
										{% render_field form.bill class="form-control" %}
										{% if form.bill.help_text %}
											<small class="form-text text-muted">
												{{ form.bill.help_text }}
											</small>
										{% endif %}
									</div>																							
								</div>
							</div>

							<div class = "row">
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.amount.label_tag }}
										{% if form.is_bound %}
											{% if form.amount.errors %}
									
												{% render_field form.amount class="form-control is-invalid" %}
												{% for error in form.amount.errors %}
													<div class="invalid-feedback">
													  {{ error }}
													</div>
												{% endfor %}
									
											{% else %}
												{% render_field form.amount class="form-control valid" %}
											{% endif %}
										{% else %}
											{% render_field form.amount class="form-control" %}
										{% endif %}
									
										{% if form.amount.help_text %}
											<small class="form-text text-muted">
												{{ form.amount.help_text }}
											</small>
										{% endif %}	
										<small id = "adv_text" class="form-text">
										</small>
									</div>
								</div>
								<div class = "col-sm-3">
									<div class="form-group">
										{{ form.mode_of_payment.label_tag }}
										{% if form.is_bound %}
											{% if form.mode_of_payment.errors %}
									
												{% render_field form.mode_of_payment class="form-control is-invalid" %}
												{% for error in form.mode_of_payment.errors %}
													<div class="invalid-feedback">
													  {{ error }}
													</div>
												{% endfor %}
									
											{% else %}
												{% render_field form.mode_of_payment class="form-control valid" %}
											{% endif %}
										{% else %}
											{% render_field form.mode_of_payment class="form-control" %}
										{% endif %}
									
										{% if form.mode_of_payment.help_text %}
											<small class="form-text text-muted">
												{{ form.mode_of_payment.help_text }}
											</small>
										{% endif %}	
									</div>
								</div>
								
								<div class = "col-sm-6">
									<div class="form-group">
										{{ form.payment_reference.label_tag }}
										{% if form.is_bound %}
											{% if form.payment_reference.errors %}
									
												{% render_field form.payment_reference class="form-control is-invalid" %}
												{% for error in form.payment_reference.errors %}
													<div class="invalid-feedback">
													  {{ error }}
													</div>
												{% endfor %}
									
											{% else %}
												{% render_field form.payment_reference class="form-control valid" %}
											{% endif %}
										{% else %}
											{% render_field form.payment_reference class="form-control" %}
										{% endif %}
									
										{% if form.payment_reference.help_text %}
											<small class="form-text text-muted">
												{{ form.payment_reference.help_text }}
											</small>
										{% endif %}	
									</div>
								</div>
								
							</div>
							<div class = "text-center">
								<button class = "btn btn-primary" type="submit">Save</button>
							</div>						
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div>
	{% include 'guesthouse/message-modal_ok.html' %}


	{% endblock sitecontent %}


	{% block jscripts %}
	
	<script>
	
	$( document ).ready(function() {

		$("#id_receipt_for > option").each(function() {
			if (this.value == '{{receipt_type}}') {
				$('#id_receipt_for option[value="'+ this.value + '"]').attr("disabled", false);
			} else {
				$('#id_receipt_for option[value="'+ this.value + '"]').attr("disabled", true);
			}
		});
		
		if ('{{receipt_type}}' == 'AD' || '{{receipt_type}}' == 'BK' ){
			$("#id_receipt_for_month").attr('readonly',true);
			$("#id_bill").attr('readonly',true);
		}
		
		if ('{{receipt_type}}' == 'AD'){
			booking_number = '{{room_alloc.booking_id}}';
			$.ajax({
				url: '{% url "get_net_advance" %}', 
				data: {'booking_number':booking_number},
				dataType: 'text', 
				type: 'POST',
				success: function (data) {
					adv = JSON.parse(data);
					$("#id_amount").val(adv.net_adv_amt);
					if (adv.adv_amt > 0 && adv.net_adv_amt == 0 ){
						$("#adv_text").html('Advance of Rs. ' + adv.adv_amt + ' is already paid in full.');
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
					return;
				}					
			});						
		}
		
		if ('{{receipt_type}}' == 'RN'){
			if ('{{booking.tenure}}' == 'LT'){
				$("#id_amount").val('{{room_alloc.room.rent_per_bed}}');
			} else {
				$("#id_amount").val('{{room_alloc.room.short_term_rent_per_bed}}');
			}
		}

		
	});

	
	</script>
	
	<script>
		$("#id_receipt_for_month").change(function(){
			booking_number = '{{room_alloc.booking_id}}';
			receipt_for = $('#id_receipt_for').val();
			receipt_for_month = this.value;
			
				$.ajax({
					url: '{% url "get_bills_for_month" %}', 
					data: {'booking_number':booking_number, 'receipt_for':receipt_for, 'bill_for_month' : receipt_for_month },
					dataType: 'text', 
					type: 'POST',
					success: function (data) {
						elements = JSON.parse(data);
						bills = elements.bills;
						var txt = "<select id='id_bill' name ='bill' class='form-control' >";
						for (i = 0; i < bills.length; i++) {
							txt += "<option value = '" + bills[i].bill_number + "'> #" + bills[i].bill_number + " (Rs." + bills[i].amount + ")</option>";
						};
						txt += "<option selected value = ''>" + "</option>";
						txt += "</select>"; 
						$("#id_bill").html(txt);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
						return;
					}					
				});			
		});	
		
	</script>
	{% endblock jscripts %}