									<p> <strong>Search By Receipt Number</strong> </p>
									<div class = "row">
										<div class = "col-sm-6 col-lg-4">
											<div class="form-group">
												<label>Receipt Number:</label>
												<input name = "receipt_num" id = "receipt_num" 
													class = "form-control" type="text" />
											</div>
										</div>
										<div class = "col-sm-2 col-lg-2">
											<div class="form-group">
												<label>&nbsp;</label>
												<input type="submit" id = "name-submit" 
												class = "btn btn-primary"
												onclick = "get_receipts('1');">
											</div>										
										</div>
									</div>
