
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

{% extends 'guesthouse/guesthouse_base.html' %}
{% load static %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

	<div id="all">
		<div id="content" class= " h-25" style="background-color:#fff">
			<div class="container">

				<h3 class="block-title">Wrong Way!!!</h3>

				<div class="row" id="contact">
		
					<div class="col-xs-12 col-sm-8 col-md-6">

						<div class="panel panel-info">
							<div class="panel-heading">
								<h5 class="panel-title">Page Not Found!</h5>
							</div>
							<div class="panel-body">
								<p>You seem to have landed at a non-existent page. Please go back to home page to navigate. If you think this is in error, please let us know.</p>
								<div  class="text-center mb-3">
									<span style="float: right"><a href="{% url 'index' %} "><i class="fa fa-home">Home</i></a></span>
								</div>
							</div>           
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% endblock sitecontent %}		
	
	{% block jscripts %}
	{% endblock jscripts %}		
<!-- Footer-section remains as it is, no override -->
