
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps_base_vj.html' %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}

<!-- Override features block -->
{% block features %}
    <div class="block" style="padding-top: 5%; padding-bottom: 5%; ">
        <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="block-title"><h3 class="card-title">Reset your password</h3></div>
                            <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
                            <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
     </div>
{% endblock features %}



{% block registration %}
{% endblock registration %}
<!-- Footer-section remains as it is, no override -->
