/* your styles go here */

.nav-tabs .nav-link.active {
    font-weight:bold;
    background-color: transparent;
    border-bottom:3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
}

.box .tab-content{
	padding: 20px;
}


.fullscreen-centered #content{
  background: #fff;
  position: fixed;
/*  top: 25%;
  left: 25%; */
  /* bring your own prefixes */
/*  transform: translate(-50%, -50%); */
  width: 100%;
}

#content .info-bar  {
	padding: 5px !important;
}

.img-display {
	width:9vw; 
	height:10vw;
	object-fit:scale-down;
}

#bookingsTbl{
	font-size: 0.8rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 2px solid #FF0000;
    margin: 1em 0;
    padding: 0;
}

.hr-thin {
    border-bottom: 1px solid #ccc;
}

.hr-thick {
    border-bottom: 2px solid #ccc;
}

.section-head {
    background-color: #686868;   
    color: #ffffff;
}

}